<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.aspnetcdn.com/ajax/knockout/knockout-3.1.0.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/Knockout js/js/products.js" defer></script>
    <link rel="stylesheet" href="/Knockout js/styles.css">
    
</head>

<body>


    <h1 style="text-align: center;padding:10px">Product List</h1>
    <div style="display:flex; justify-content:flex-end; width:100%;gap: 10px;padding: 10px;">
    <button class="btn" data-bind="click: goToCart">Go to cart</button></div>
    <h1 style="text-align: right;">Grand Total : $<span data-bind="text : total"></span></h1>
       <div data-bind="foreach: items" class="grid-container">
            <div class="card">
                <h1 data-bind="text : name"></h1>
                <p class="price">$<span data-bind="text : price"></span></p>
                <p>Some text about the <span data-bind="text : name"></span>. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
                <p><button  data-bind="click: $parent.addItem">Add to Cart</button></p>
            </div>
        </div>
        

</body>

</html>
